<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TqDemo">
        <activity
            android:name="com.example.demo.basic.texture.TextureActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.basic.shape.ShapeDrawActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.camera.glthread.FBOActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.opengl.OpenGLActivity"
            android:exported="false" />

        <service
            android:name="com.example.demo.camera.minize.PreviewMinizeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.demo.camera.minize.NormalPreviewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.camera.GLSurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.camera.TextureViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.camera.SurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.basic.DrawOnSurfaceViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.basic.BasicListActivity"
            android:exported="false" />
        <activity
            android:name="com.example.demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>